@import url('https://fonts.googleapis.com/css?family=Barlow');

:root {
    --blue: #D6E1F0;
    --black: #080B1B;
}

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

html {
    background: var(--black);
    font-family: 'Barlow', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#root {
    height: 100%;
}
